/* footer-div */
.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}
.footer-div {
    height: 72px;
    @apply sm:block hidden bg-white;
}

.footer-div ul {
  padding: 0 24px;
  @apply flex items-center justify-between h-full;
}
