@media (max-width: 1399px) {
}

@media screen and (max-width: 1199px) {
    /* top navigation */
    .top-navigation-left {
        width: 125px;
    }
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 991px) {
    .width-15 {
        width: 90px;
    }
    .width-85 {
        padding-left: 95px;
    }
    .menu ul li a {
        padding: 0;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 767px) {
    .top-drop-menu span.txt {
        margin-right: 0px;
    }
    .width-85 {
        padding-left: 0px;
    }
}

@media screen and (max-width: 575px) {
    .default-search {
        width: 342px;
    }
}

@media screen and (max-width: 445px) {
}

@media screen and (max-width: 399px) {
    .default-search {
        width: 300px;
    }
}

@media screen and (max-width: 375px) {
    .default-search {
        width: 250px;
    }
    .top-navigation-left {
        width: 110px;
    }
}

@media screen and (max-width: 320px) {
    .formik-select-wrapper {
        width: 130px;
    }
}
