.top-navigation-wrapper {
  padding: 0px 28px 0 36px;
  @apply sticky w-full top-0 h-h64 bg-white;
}

.top-menu {
  @apply flex items-center justify-between w-full pl-0 tablet:pl-0 laptop:pl-11;
}

/* .top-navigation-left  */
.top-navigation {
  @apply flex items-center;
}
.top-navigation-left {
  width: 205px;
  @apply flex items-center h-h64;
}
.top-drop-menu span.txt {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.25px;
  margin-right: 7px;
  @apply text-primaryColor font-medium;
}
.top-drop-menu span.icon {
  @apply text-placeholderColor;
}
.profile-menu-img {
  width: 32px;
  height: 32px;
  margin: 0 16px 0 19px;
  @apply inline-block rounded-full;
}